*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.tituloPrincipal{
    text-align:justify;
    position: relative;
    width: 940px;
    left: 100px;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f4f4fc;
}

header{
    width: 100px;
    height: 70px;
    padding-left: 30px;
}

.logo{
    width: 100px;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
}


main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.contenedorcajatexto{
    position: absolute;
    left: 10px;
    top: 80px;
    padding-left: 100px;
    width: 1080px;
    height: 600px;
}

.cajatexto{
    width: 80%;
    height: 100%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.cajatexto::placeholder{
    color: #0A3871;
}

.alerta{
    position: absolute;
    top: 750px;
    left: 40px;
    display: flex;
    color: #495057;
}

.contenedorBotones{
    position: absolute;
    top: 800px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
}

.btnEncriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.btnDesencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.seccion2{
    display: block;
    position: relative;
    width: 400px;
    height: 840px;
    right: 200px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
left: 20px;
}

.contenedorcuerpo{
    position: absolute;
    left: 30px;
    top: 180px;
    box-sizing: border-box;
    padding-top: 50px;
}

.contenedorParrafo{
    position: absolute;
    box-sizing: border-box;
    top: 570px;
    left: 40px;
 }

 .contenedorParrafo h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #343A40;
}

.contenedorParrafo p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
}

.contenedorResultado{
    position: absolute;
    bottom: 330px;
    width: 100px;
    height: 450px;
    padding: 0;
    box-sizing: border-box;
    margin-left: 25px;
    
}

.contenedorResultado p{
    color: #495057;
    font-size: 25px;
    width: 10px;
    
}

.contenedorCopiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: #000000;
    padding-left: 40px;
}

.btnCopiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}


.Piedepagina{
    position: absolute;
    box-sizing: border-box;
    top: 900px;
    left: 1000000 px;
 }   

 .Piedepagina p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #000000;
    padding-top: 20px;
 }

.ocultar{
    display: none;
}